<div ng-include="'app/views/common/header.html'"></div>
<section style="padding: 10px;">
    <form action="">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-5">
                    <label>Origem</label>
                    <select class="form-control" name="" id="" ng-options="obj.id as obj.nome + ' - ' + obj.brev for obj in destinos" ng-model="obj.origem">
                        <option value="">Selecione a origem</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <label>Destino</label>
                    <select class="form-control" name="" id="" ng-options="obj.id as obj.nome + ' - ' + obj.brev for obj in destinos" ng-model="obj.destino">
                        <option value="">Selecione o destino</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Modalidade</label>
                    <select class="form-control" name="" id=""
                        ng-model="obj.destino">
                        <option value="">Selecione a modalidade</option>
                        <option value="">Ida e Volta</option>
                        <option value="">Só Ida</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</section>
<section style="background: #2d2d2d; padding: 5px;">
    <img class="img-responsive" style="margin:auto;" src="libs/img/fermento.png" alt="">
</section>